{
  "env": {
    "test": {
      "plugins": [
      ["istanbul", {
        "exclude": [
          "**/*.spec.js"
        ]
      }]
    ],
      "presets": [
        "es2015",
        "stage-0"
      ],
      "sourceMaps": "inline"
    }
  }
}
